:root {
    --sky-color: lightblue;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    font-family: 'Russo One', sans-serif;
    color: #8059ff;
    transition: color 1s;
}

li {
    height: 50px;
    font-size: 2em;
}

/*======= SKY =======*/

.sky {
    background-color: var(--sky-color);
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: background-color 3s;
}

.cloud-1 {
    background-color: white;
    height: 110px;
    width: 200px;
    margin-left: 200px;
    border-radius: 35px 17px 20px 18px;
    transition: width 1s, height 1s, background-color 2s;
}

.cloud-1:hover {
    width: 250px;
    height: 150px;
}

.cloud-2 {
    background-color: white;
    height: 90px;
    width: 150px;
    align-self: flex-end;
    margin-right: 300px;
    border-radius: 26px 43px 18px 39px;
    transition: width 1s, height 1s, background-color 2s;

}

.cloud-2:hover {
    width: 200px;
    height: 130px;
}

.sun {
    background-color: #fdff9d;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-self: flex-end;
    margin: 10px 100px 0 0;
    transition: width 1s, height 1s, background-color 2s;

}

.sun:hover {
    height: 110px;
    width: 110px;
}

/*======= TREE =======*/

.mother-nature {
    background-color: var(--sky-color);
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: background-color 3s;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    height: 100%;
}

.leaves {
    background-color: forestgreen;
    width: 300px;
    height: 250px;
    border-radius: 15px 50px;
}

.trunk {
    width: 50px;
    height: 300px;
    background-color: saddlebrown;
    display: flex;
    align-items: center;
}

.tree-knot {
    background-color: #2d150b;
    height: 30px;
    width: 25px;
    border-radius: 50px;
    margin-left: 10px;
}

/*======= GROUND =======*/

.earth {
    height: 5vh;
    background-color: darkgreen;
}

.key {
    align-self: flex-start;

}

